ENVIRONMENT=local
DATABASE_URL=postgresql+asyncpg://appuser:change_this_password@localhost:5432/app
SECRET_KEY=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587


CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

REDIS_HOST=
REDIS_PORT=